.dropdown-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #252a4d75;
  height: 100%;

  .options {
    width: inherit;

    padding: 10px 0 10px 0;
    
    &:hover {
      opacity: 0.5;
      
    }
    &:nth-child(n) {
      border-bottom: 1px solid black;
      width: 100%;
      text-align: center;
      margin: 10px 0 10px 0;
      
    }
    &:last-child {
      border-bottom: none;
      padding: 0;
      margin: 0;
    }
  }
}
